In [1]:
import pandas as pd
import numpy as np
# not skipping empty values, to demonstrate data preprocessing steps later
df = pd.read_csv('yellow_tripdata_2015-01.csv', na_filter=False) 
df.info()

C:\Users\TechFast Australia\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12748986 entries, 0 to 12748985
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RateCodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  object
 18  total_amount           float64
dtypes: float64(11), int64(4), object(4)
memory usage: 1.8+ GB

In [2]:
# Pick necessary columns, drop the rest
df2 = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'total_amount']]
##df2 = df[['pickup_longitude', 'pickup_latitude']]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12748986 entries, 0 to 12748985
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   object
 1   tpep_dropoff_datetime  object
 2   passenger_count        int64
 3   trip_distance          float64
 4   pickup_longitude       float64
 5   pickup_latitude        float64
 6   dropoff_longitude      float64
 7   dropoff_latitude       float64
 8   total_amount           float64
dtypes: float64(6), int64(1), object(2)
memory usage: 875.4+ MB

In [3]:
df2_headers = df2.dtypes.index
##Check the unique value to briefly see if there's noise in the data
for i in df2_headers:
    ##Change the blank between characters into underline "_"
   print( i, ":\n",df["{0}".format(i)].unique())
   print( i, ":\n",df["{0}".format(i)].value_counts(),"\n\n")

tpep_pickup_datetime :
 ['2015-01-15 19:05:39' '2015-01-10 20:33:38' '2015-01-10 20:33:39' ...
 '2015-01-10 18:16:49' '2015-01-26 06:45:05' '2015-01-09 15:04:28']
tpep_pickup_datetime :
 2015-01-05 09:39:49    94
2015-01-12 19:02:27    41
2015-01-12 18:55:17    39
2015-01-14 16:13:52    32
2015-01-14 13:20:13    29
                       ..
2015-01-29 03:44:39     1
2015-01-13 05:33:46     1
2015-01-15 07:05:48     1
2015-01-19 05:01:57     1
2015-01-27 19:13:47     1
Name: tpep_pickup_datetime, Length: 2438284, dtype: int64


tpep_dropoff_datetime :
 ['2015-01-15 19:23:42' '2015-01-10 20:53:28' '2015-01-10 20:43:41' ...
 '2015-01-10 06:38:03' '2015-01-10 06:17:46' '2015-01-26 10:32:57']
tpep_dropoff_datetime :
 2015-01-02 00:00:00    142
2015-01-04 00:00:00    133
2015-02-01 00:00:00    132
2015-01-03 00:00:00    129
2015-01-11 00:00:00    119
                      ...
2015-01-12 09:52:10      1
2015-01-07 00:34:59      1
2015-01-24 06:30:14      1
2015-01-31 07:56:43      1
2015-01-22 02:26:04      1
Name: tpep_dropoff_datetime, Length: 2442163, dtype: int64


passenger_count :
 [1 3 2 5 6 4 0 9 7 8]
passenger_count :
 1    8993870
2    1814594
5     697645
3     528486
6     454568
4     253228
0       6565
9         11
8         10
7          9
Name: passenger_count, dtype: int64


trip_distance :
 [  1.59   3.3    1.8  ...  55.36 214.3   35.65]
trip_distance :
 0.90     304042
0.80     300724
1.00     298316
1.10     285482
0.70     285190
          ...
34.96         1
34.79         1
35.74         1
44.65         1
55.70         1
Name: trip_distance, Length: 4350, dtype: int64


pickup_longitude :
 [-73.99389648 -74.00164795 -73.96334076 ... -73.76560211 -74.05173492
 -73.81429291]
pickup_longitude :
  0.000000     243478
-73.982224      4793
-73.982239      4769
-73.982079      4752
-73.982117      4655
               ...
-74.157303         1
-74.156982         1
-74.156883         1
-74.156807         1
-1.315182          1
Name: pickup_longitude, Length: 35900, dtype: int64


pickup_latitude :
 [40.75011063 40.72424316 40.80278778 ... 40.64077377 40.57663345
 40.57731628]
pickup_latitude :
 0.000000     243478
40.774109      2693
40.774078      2681
40.774101      2655
40.774071      2654
              ...
40.614994         1
40.615211         1
40.614834         1
40.614944         1
40.861809         1
Name: pickup_latitude, Length: 62748, dtype: int64


dropoff_longitude :
 [-73.97478485 -73.99441528 -73.95182037 ... -74.05181885 -74.36378479
 -73.77191162]
dropoff_longitude :
  0.000000     235318
-73.982224      3721
-73.982239      3692
-73.982330      3680
-73.982384      3585
               ...
-73.762955         1
-73.763809         1
-73.764343         1
-73.764267         1
-1.266667          1
Name: dropoff_longitude, Length: 53297, dtype: int64


dropoff_latitude :
 [40.75061798 40.7591095  40.8244133  ... 40.57627106 40.5903244
 40.93608093]
dropoff_latitude :
 0.000000     235319
40.750149      1903
40.750198      1803
40.750172      1798
40.750221      1788
              ...
41.293030         1
41.282604         1
41.281727         1
41.279053         1
40.891644         1
Name: dropoff_latitude, Length: 87523, dtype: int64


total_amount :
 [ 17.05  17.8   10.8  ... 312.66  65.72 143.45]
total_amount :
 6.80      414980
7.30      382941
8.30      381587
7.80      373868
9.80      367476
           ...
250.33         1
247.33         1
67.89          1
33.61          1
139.96         1
Name: total_amount, Length: 11969, dtype: int64

According to the output, data is clean. No empty value or inappropriate value(e.q. non word characters)

In [4]:
##Concatenate Lon and Lat into loc column
##geometry = [{"type":"Point", "coordinates":[x,y]} for x,y in zip(df2.pickup_longitude, df2.pickup_latitude)]
##df2['loc'] = geometry

In [5]:

df2.to_csv('taxi_data_new.csv', index=False)